{% extends 'base_user.html' %}
{% block head %}
    <script>
        $(function () {
            // 计算小计
            $('.order_list_table').each(function (i,n) {
                var total_price = 0;
                $(n).find('.order_goods_list').each(function (f,m) {
                    var price = parseFloat($(m).find('span').text());
                    var count = parseInt($(m).children('.col03').text());
                    var total = price * count;
                    total_price += total;
                });
                $(n).find('label').text(total_price.toFixed(2) + '元');

            });
        });
    </script>
{% endblock head %}
{% block body2 %}
	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="/users/info">· 个人信息</a></li>
				<li><a href="#" class="active">· 全部订单</a></li>
				<li><a href="/users/site">· 收货地址</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
                {% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time|date:'Y-m-j H:m:s' }}</li>
					<li class="col02">订单号：{{ order.order_id }}</li>
                    {% if order.status == 1 %}
					    <li class="col02 stress">待支付</li>
                        {% elif order.status == 2 %}
                        <li class="col02 stress">待发货</li>
                        {% elif order.status == 3 %}
                        <li class="col02 stress">待收货</li>
                        {% elif order.status == 4 %}
                        <li class="col02 stress">待评价</li>
                        {% elif order.status == 5 %}
                        <li class="col02 stress">已完成</li>
                    {% endif %}
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for goods in order.ordergoods_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ goods.sku.default_image.url }}"></li>
									<li class="col02">{{ goods.sku.name|truncatechars:15 }}<em>{{ goods.sku.price }}元/{{ goods.sku.unit }}\g</em></li>
									<li class="col03">{{ goods.count }}</li>
									<li class="col04"><span>{{ goods.sku.price }}</span>元</li>
								</ul>
                                {% endfor %}

							</td>
							<td width="15%"><label></label></td>
                            {% if order.status == 1 %}
							    <td width="15%">待支付</td>
                            {% elif order.status == 2 %}
                                <td width="15%">待发货</td>
                            {% elif order.status == 2 %}
                                <td width="15%">待收货</td>
                            {% elif order.status == 2 %}
                                <td width="15%">待评价</td>
                            {% elif order.status == 2 %}
                                <td width="15%">已完成</td>
                            {% endif %}
                            {% if order.status == 1 %}
                                <td width="15%"><a href="#" class="oper_btn">去付款</a></td>
                            {% elif order.status == 2 %}
                                <td width="15%"><a href="#" class="oper_btn">等待卖家发货</a></td>
                            {% elif order.status == 2 %}
                                <td width="15%"><a href="#" class="oper_btn">请收货</a></td>
                            {% elif order.status == 2 %}
                                <td width="15%"><a href="#" class="oper_btn">去评价</a></td>
                            {% elif order.status == 2 %}
                                <td width="15%"><a href="#" class="oper_btn">已完成</a></td>
                            {% endif %}
						</tr>
					</tbody>
				</table>
				{% endfor %}

				<div class="pagenation">
                    {% if page.has_previous %}
                    <a href="?pindex=1">首页</a>
					<a href="?pindex={{ page.number|add:-1 }}"><上一页</a>
                    {% else %}
                    <a>首页</a>
                    <a>下一页</a>
                    {% endif %}
                    {% for page_num in page_list %}
                        {% if page_num == page.number %}
					        <a href="?pindex={{ page_num}}" class="active">{{ page_num }}</a>
                        {% else %}
                            <a href="?pindex={{ page_num }}">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
					<a href="?pindex={{ page.number|add:1 }}">下一页></a>
                    <a href="?pindex={{ page.paginator.num_pages }}">末页</a>
                    {% endif %}
				</div>
		</div>
	</div>
{% endblock body2 %}


